.skills__img{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 5px rgba(128, 0, 128, 0.5);
    
}
.skills__img:hover{
    height:250px;
    width: 250px;
}