.formacion{
    display: flex;
    margin-bottom: 10rem;/*con este separo una tarjeta de la otra*/
    /*con este disminuyo el espacio que ocupa cada tarjeta*/
    flex-direction: column;
    width: 25px;
    padding-left: 5%;
 }
 @media screen and (min-width:0) {
    .formacion{
       margin-right: 1rem;
       width: 100%
    }
 }
 @media screen and (min-width:768px) {
     .formacion{
       margin-right: 2.5rem;
       width: calc(33.33% - 2.5rem);
    }
 }
 @media screen and (min-width:992px) {
    .formacion{
       margin-right: 5rem;
       width: calc(25% - 5rem);
   }
 }
 .formacion_1{
   display: flex;
   padding-top: 100px;
   padding-left: 90px;
   background-image: linear-gradient(to bottom right, #de98f3, #aaabf8, #B1D4FF, #ffcff9);
 }